body {
  background-color: pink;
}

h1 {
  color: black;
  text-align: center;

  .nav {
  background-color: grey; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  background-color: none; 
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
}
p {
  font-family: ambit;
  font-size: 18px;
  text-align: center;
  font-style: italic;
}
img {
	width: 100%;
